@font-face {
  font-family: 'Arimo';
  src: url('./Arimo-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Arimo';
  background: url('./icon.png');
}
